.util{
	font-family: "Adobe Heiti Std";
	position: absolute;
	width: auto;
	height: auto;
	top: 50%; left: 50%;
	transform: translate(-60%, -80%);
	background-color: #1E90FF;
	color: #fff;
	padding: 15px;
	z-index: 2;
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}

.normal {
	background-color: #00BFFF;
    width: 100%; height: 100%;
    padding: 20px;
    top: 8.0%; left: 0;
    position: absolute;
    text-align: center;
}

.barra {
	background-color: #1E90FF;
    position: absolute;
    width: 100%;
    top: 0; left: 0;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: large;
    text-align: center;

}

a {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

.menuizq {
    clear: both;
    height: auto;
    float: left;
    padding: 2%;
    background-color: #1E90FF;
    width: 70px;
}

.feed {
    margin: 0 auto;
    padding: 1%;
    background-color: #1E90FF;
    width: 500px;
    text-align: left;
    color: aliceblue;
}

.itemMenu {
    float: left;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1.5px 1.5px gray;
}


.title{
	position: absolute;
	top: 40%; left: 50%;
	transform: translate(-60%, -230%);
	color: white;
	font-family: "Adobe Heiti Std";
	font-size: 80px;
}

input:focus {
    background-color: #B0E0E6;
}

textarea:focus {
    height: 6em;
    resize: none;
}

@font-face {
    font-family: miFuente; /* requerido */
    src: source;                        /* requerido */
    font-weight: weight;                /* opcional */
    font-style: style;                /* opcional */
}